{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>US Weather Map</h1>
        <div id="map" style="height: 500px;"></div>
    </div>
</div>

<script>
    // Initialize the map centered on the US
    var map = L.map('map').setView([37.0902, -95.7129], 4);

    // Add weather map layer using OpenWeatherMap
    L.tileLayer('https://{s}.tile.openweathermap.org/map/{layer}/{z}/{x}/{y}.png?appid={API_KEY}', {
        attribution: 'Map data &copy; <a href="https://openweathermap.org">OpenWeatherMap</a>',
        layer: 'precipitation_new', // This could be changed to show storm/hurricane maps
        API_KEY: 'Your API key here'
    }).addTo(map);

    // You can add other weather layers like 'hurricane', 'rainfall', etc., depending on the OpenWeatherMap API options

</script>  
{% endblock %}
